<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/1c26d864-e21a-4373-9e6a-e68677b80ae5/06153e31-97f5-411f-846d-e2150bdf4d56.image.png?v=1661112024626" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="My class notes for the year 2022-2023!" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <title>David's Agriculture Notes</title>
    {% seo "" %}
  </head>
  <body>
  <main>
      <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/notes">Notes</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
        </div>
        <!-- <a class="btn--github" target="_top" href="https://github.com/GirattleGFX">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="logo" width="15px" /> 
        Check out my Github
        </a> -->
      </footer>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

    
  </main>
   
  </body>
</html>